
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: white;
    --cor-terciaria: #DB2270;
    --cor-hover: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    height: 100vh;
}

.cabecalho {
    padding: 0% 0% 0% 0%;
}

.cabecalho__menu {
    display: flex;
    gap:80px;
    padding: 2%;
    justify-content: center;
}

.cabecalho__link {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 600;
    color:var(--cor-secundaria);
    border: 2px solid black;
    padding: 5px;
    border-radius: 8%;
    width: 105px;
    text-decoration: none;
    align-items: center;
}

.cabecalho__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao {
    padding: 5% 0% 10% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 40px;
}

.apresentacao__titulo {
    font-size: 2rem;
    font-family: var(--fonte-principal);
}

.titulo_destaque {
    color: var(--cor-terciaria)
}

.apresentacao__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__paragrafo_sobre {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:32px;
}

.apresentacao__link_subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__linkExterno {
    display: flex;
    justify-content: center;
    gap:16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid #DB2270;
    
}

.apresentacao__linkExterno:hover {
    background-color: var(--cor-hover);
}

.titulo_destaque:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-hover);
}

.rodape {
    padding: 27px;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

.imagem__about{
    width: 30%;
}

@media (min-width: 40px ) and (max-width: 900px) {
    .apresentacao {
        flex-direction: column-reverse;
        text-align: center;
        padding: 10% 10% 20% 10%;
    }
    .apresentacao__titulo {
        font-size: 1rem;  
    }
    .apresentacao__paragrafo{
        font-size: 1rem;
    }
    .apresentacao__link_subtitulo{
        font-size: 1rem;
    }
    .apresentacao__linkExterno {
        font-size: 1rem;
        width: 350px;
    }
    .apresentacao__paragrafo_sobre{
        font-size: 0.8rem;
    }
    .imagem__about {
        width: 50%;
    }
    .cabecalho {
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}


